*{
  box-sizing: border-box;
}
body{
  color: #222;
}

img{
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

header {
  display:flex;
  justify-content: space-between;
  margin-top:15px;
  margin-bottom: 15px;
  align-items: center;
}

header a{
  text-decoration: none;
  color:inherit;
}

header a.logo{
  font-weight: bold;
  font-size: 1.6rem;
}

header nav{
  display:flex;
  gap:15px;
}

div.post{
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap:20px;
  margin-bottom: 30px;
}

div.post div.texts h2 {
  margin:0;
  font-size: 1.4rem;

}

div.post p.info{
  margin:5px 0;
  color:#888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap:10px;
}

div.post p.info a.author{
  color: #333;
}

div.post p.summary{
  margin:20px 0;
  line-height: 1.5rem;
}

form.login, form.register {
  max-width: 400px;
  margin:auto auto;
  
}

input {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  width:100%;
  padding: 10px 7px;
  border:0;
  background-color: beige;
  border: 1px solid #ddd
}

button{
  width: 100%;
  display: block;
  background-color: #888;
  border: none;
  padding: 10px;
  font-size: 1rem;
}

button:hover{
  background-color: antiquewhite;
}

form h2{
  text-align: center;
}

div.post-page div.image{
  max-height: 225px;
  width: 100%;

}

div.post-page div.image img{
  object-fit:cover;
  object-position: center;
}

.edit-row{
  text-align: center;
  margin:20px;

}

.edit-btn{
  text-decoration: none;
  margin:10px auto;
  align-items: center;
  font-size: 1.2rem;
  background-color: gray;
  padding:10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.edit-btn:hover{
  background-color: rgb(123, 158, 146);
  color:#222
}

.delete-btn{
  text-decoration: none;
  margin:10px auto;
  margin-left: 20px;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(121, 55, 55);
  padding:10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.delete-btn:hover{
  background-color: rgb(228, 204, 106);
  color:#222
}